@function rem($pixels, $base: $html-font-size) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($base)) {
    $base: $base * 1px;
  }
  @return calc($pixels / $base) * 1rem;
}

@mixin flex($horizontal: center, $vertical: center) {
  display: flex;
  justify-content: $horizontal;
  align-items: $vertical;
}

@mixin title {
  color: $title-color;
  font-weight: bold;
  font-size: rem(16);
  line-height: rem(22);
  text-transform: uppercase;
  margin-bottom: 1.5em;
}

@mixin for-size($size) {
  @if $size==phone {
    @media (max-width: 480px) {
      @content;
    }
  }
  @else if $size==tablet {
    @media (min-width: 480.1px) and (max-width: 992px) {
      @content;
    }
  }
}