$html-font-size: 16px;
$title-color: #FFFFFF;
$title-color-text: #8D81AC;
$subtitle-color:#323232;
$text-color: #848E97;
$bg-white-color: #FFFFFF;
$bg-code-color: #F4F4F4;
$secondary-text-color: #ffffff;
$primary-fonts: 'Montserrat', sans-serif;
$secondary-fonts: 'Lato', sans-serif;