.advantages-bgcolor {
	background-color: $bg-code-color;

	@include for-size(tablet) {
		background-color: $bg-white-color;
	}

	@include for-size(phone) {
		background-color: $bg-white-color;
	}
}

.advantages {
	display: grid;
	justify-items: start;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"advantages__info advantages__title"
		"advantages__info advantages__code";

	.advantages__info {
		grid-area: advantages__info;
	}

	.advantages__title {
		grid-area: advantages__title;
	}

	.advantages__code {
		grid-area: advantages__code;
		margin-right: -10px;
		margin-bottom: -60px;
		justify-self: end;
		img {
			width: 100%;
		}
	}

	@include for-size(tablet) {
		justify-items: center;
		align-items: center;
		grid-template-columns: 1fr;
		grid-template-areas:
			"advantages__title"
			"advantages__info"
			"advantages__code";

		.advantages__info {
			grid-area: advantages__info;
			justify-self: start;
		}

		.advantages__title {
			grid-area: advantages__title;
		}

		.advantages__code {
			grid-area: advantages__code;
			justify-self: end;
			margin-bottom: 0;
		}
	}

	@include for-size(phone) {
		justify-items: center;
		align-items: center;
		grid-template-columns: 1fr;
		grid-template-areas:
			"advantages__title"
			"advantages__info"
			"advantages__code";

		.advantages__info {
			grid-area: advantages__info;
			justify-self: start;
		}

		.advantages__title {
			grid-area: advantages__title;
		}

		.advantages__code {
			grid-area: advantages__code;
			justify-self: end;
			margin-bottom: 0;
		}
	}
}

.advantages__info {

	@include flex;
	flex-direction: column;
	gap: 32px;
	padding-top: 96px;
	padding-left: 90px;
	padding-bottom: 70px;

	@include for-size(tablet) {
		padding-top: 51px;
		padding-left: 29px;
		padding-bottom: 74px;
	}

	@include for-size(phone) {
		padding-top: 34px;
		padding-left: 28px;
		padding-bottom: 24px;
	}

	&-wrap {
		@include flex;
		column-gap: 25px;

		@include for-size(phone) {
			flex-direction: column;
		}
	}

	&-img {
		@include flex;
		min-width: 110px;

		@include for-size(phone) {
			padding-bottom: 25px;
			width: 100%;
		}
	}

	&-text {
		font-family: $primary-fonts;
		font-weight: 400;
		padding-right:20px;

		@include for-size(phone) {
			padding-bottom: 40px;
			text-align: center;
		}

		&-title {
			font-size: rem(16);
			line-height: rem(21);
			color: $subtitle-color;
			margin-bottom: 16px;

			@include for-size(phone) {
				line-height: rem(16);
			}
		}

		&-subtitle {
			font-size: rem(14);
			line-height: rem(21);
			color: $text-color;
		}
	}
}

.advantages__title {
		padding-top: 92px;
		font-family: $primary-fonts;
		font-weight: 700;
		font-size: rem(44);
		line-height: rem(48);
		color: $title-color-text;

		@media(min-width: 992.1px) and (max-width:1115px) {
			padding-bottom: 18px;
			font-size: rem(40);
			line-height: rem(40)
		}
		@include for-size(tablet) {
			font-size: rem(42);
			line-height: rem(44);
	}

		@include for-size(phone) {
			text-align: center;
			padding-top: 0;
			font-size: rem(32);
			line-height: rem(38);
		}
}