.header {
	background-image: url("../img/showcase-bg.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	height: 800px;

	.showcase {
		position: relative;
		@include flex(space-between);

		@include for-size(tablet) {
			height: 118px;
			background: rgba(39, 38, 42, 1);
			display: grid;
			align-content: center;
			grid-template-columns: repeat(2, 1fr);

			grid-template-areas:
				"showcase__logo showcase__buy"
				"showcase__menu showcase__menu";

			.showcase__logo {
				grid-area: showcase__logo;
				justify-self: flex-start;
			}

			.showcase__buy {
				grid-area: showcase__buy;
				justify-self: flex-end;
			}

			.showcase__menu {
				grid-area: showcase__menu;
				width: 100%;
			}
		}

		@include for-size(phone) {
			height: 118px;
			background: rgba(39, 38, 42, 1);
		}
	}

	.showcase__logo {
		@include flex(flex-start);
			padding-top: 29px;
			padding-left: 70px;
			gap: 17px;

		@include for-size(tablet) {
			padding-top: 29px;
			padding-left: 10px;
		}

		@include for-size(phone) {
			padding-top: 0;
			padding-left: 0;
		}

		&-title {
			font-family: $secondary-fonts;
			font-weight: 700;
			color: $title-color-text;
			text-transform: uppercase;
			font-size: rem(24);
			line-height: rem(16);

			@include for-size(phone) {
				display: none;
			}
		}

		&-title:hover {
			color: #fff;
		}
	}

	.showcase__logo:hover {
		filter: brightness(0) invert(1);
	}

	.showcase__menu {
		@include flex(center, flex-start);
		margin-left: 8px;

		@include for-size(tablet) {
			padding-bottom: 18px;
		}

		@include for-size(phone) {
			display: none;
		}

		&-list {
			@include flex;
			gap: 10%;

			@include for-size(tablet) {
				gap: 5%;
			}
		}

		&-item {
			padding-top: 40px;
			white-space: nowrap;

			@include for-size(tablet) {
				padding-top: 16px;
			}
		}

		&-link {
			font-family: $primary-fonts;
			font-weight: 700;
			font-size: rem(16);
			line-height: rem(17);
			color: $title-color-text;
			text-transform: capitalize;

			@include for-size(tablet) {
				line-height: rem(16);
			}
		}

		:hover {
			color: $title-color;
			transition: 0.1s;
		}
	}

	.burger__menu {
		display: none;
		opacity: 0;
		pointer-events: none;
		visibility: hidden;

		@include for-size(phone) {
			display: block;
		}

		&-list {
			position: absolute;
			top: 118px;
			left: 50%;
			transform: translate(-50%);
			width: 293px;
			transition: all 1s ease 0s;
		}

		&-item:last-child::after {
			content: '';
			position: absolute;
			width: 292px;
			height: 14px;
			background: #333333;
		}

		&-link {
			position: relative;
			display: block;
			font-family: $primary-fonts;
			font-weight: 400;
			font-size: rem(26);
			color: $secondary-text-color;
			text-transform: capitalize;
			padding: 29px 50px 21px 35px;
			background: #333333;
			border-bottom: 3px solid #3b3b3b;
		}

		&-link::after {
			content: '';
			position: absolute;
			width: 8px;
			height: 53px;
			background: $title-color-text;
			left: 0;
			top: calc((100% - 53px) / 2);
			opacity: 0;
		}

		&-link:focus {
			color: $title-color-text;
		}
	}

	.burger__menu-link:active::after, .burger__menu-link:focus::after {
		opacity: 1;
}

	.burger__menu._active {
		opacity: 1;
		pointer-events: all;
		visibility: visible;
	}

	.showcase__buy {
		padding-top: 31px;
		padding-right: 70px;

		@include for-size(tablet) {
			padding-top: 24px;
			padding-right: 10px;
		}

		@include for-size(phone) {
			padding: 0;
		}

		&-link {
			width: 145px;
			height: 37px;
			font-family: $primary-fonts;
			font-weight: 700;
			color: $title-color;
			font-size: rem(16);
			line-height: rem(17);
			text-transform: capitalize;
			background-color: $title-color-text;
			border: 1px solid $title-color-text;
			border-radius: 18px;

			@include for-size(tablet) {
				line-height: rem(16);
				padding-right: 0;
			}
		}

		:hover {
			background-color: $bg-white-color;
			color: $title-color-text;
			transition: 0.1s;
		}
	}

	.showcase__info {
		margin-top: 110px;
		text-align: center;

		@include for-size(tablet) {
			margin-top: 69px;
		}

		@include for-size(phone) {
			margin-top: 50px;
		}

		&-title {
			font-family: $primary-fonts;
			font-weight: 700;
			font-size: rem(82);
			color: $title-color;

			@include for-size(tablet) {
				font-size: rem(72);
			}

			@include for-size(phone) {
				font-size: rem(48);
			}
		}

		&-subtitle {
			font-family: $secondary-fonts;
			font-weight: 400;
			font-size: rem(30);
			color: $title-color-text;
			margin-top: 19px;

			@include for-size(tablet) {
				font-size: rem(24);
			}

			@include for-size(phone) {
				font-size: rem(18);
				line-height: rem(24);
			}
		}

		&-text {
			display: inline-block;
			text-transform: uppercase;
			font-family: $primary-fonts;
			font-weight: 400;
			font-size: rem(16);
			color: $text-color;
			margin-top: 19px;
			margin-bottom: 459px;

			@include for-size(tablet) {
				font-size: rem(14);
			}
		}
	}
}

.burger {
	display: none;

	@include for-size(phone) {
		@include flex;
		flex-direction: column;
		cursor: pointer;
		height: 37px;
		width: 44px;
	}

	&__line {
		position: relative;
		width: 26px;
		height: 3px;
		background: $bg-white-color;
		border-radius: 4px;
		margin-top: 5px;
		transition: all .5s ease-in-out;

		&::before {
			position: absolute;
			left: 11px;
			background: $bg-white-color;
			content: "";
			width: 15px;
			height: 3px;
			transition: all .5s ease-in-out;
		}

		&::after {
			position: absolute;
			background: $bg-white-color;
			content: "";
			width: 26px;
			height: 3px;
			transition: all .5s ease-in-out;
		}

		&::before {
			top: -9px;
		}

		&::after {
			top: 9px;
		}
	}
}

.burger__line._close {
	background: transparent;

	&::before {
		width: 26px;
		transform: rotate(45deg) translate(-2px, 14px);
	}

	&::after {
		transform: rotate(-45deg) translate(6px, -7px);
	}
}

.download__button {
		@include flex;
		margin-top: -40px;

		@include for-size(phone) {
			margin-top: -32px;
	}

	&-link {
		display: block;
		font-family: $primary-fonts;
		font-weight: 700;
		font-size: rem(21);
		line-height: rem(23);
		text-transform: capitalize;
		color: $title-color;
		padding: 23px 61px;
		border: 2px solid $title-color-text;
		border-radius: 40px;
		background-color: $title-color-text;

		@include for-size(phone) {
			font-size: rem(18);
			line-height: rem(20);
			padding: 15px 29px;
		}
	}

	:hover {
		background-color: $bg-white-color;
		color: $title-color-text;
		transition: 0.1s;
	}
}