.pricing__background {
	background: rgba(74, 59, 78, 1);
	margin-top: -15px;
	padding-bottom: 80px;
	text-align: center;

	@include for-size(phone) {
		padding-bottom: 16px;
	}
}

.pricing__title {
	font-family: $primary-fonts;
	font-weight: 700;
	text-transform: capitalize;
	text-align: center;
	color: $title-color;
	font-size: rem(48);
	line-height: rem(50);
	margin-bottom: 61px;
	padding-top: 83px;

	@include for-size(tablet) {
		font-size: rem(42);
		line-height: rem(44);
		margin-bottom: 39px;
		padding-top: 88px;
	}

	@include for-size(phone) {
		font-size: rem(28);
		line-height: rem(42);
		margin-bottom: 32px;
		padding-top: 14px;
	}
}

.pricing__content {
	@include flex;
	flex-wrap: nowrap;
	padding-inline: 60px;
	column-gap: 1.25%;

	@include for-size(tablet) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;
		justify-items: center;
		grid-row-gap: 30px;
		grid-column-gap: 2%;
		padding-inline: 0;
		margin-inline: 121px 109px;
	}

	@include for-size(phone) {
		display: grid;
		grid-template-columns: 1fr;
		justify-content: center;
		justify-items: center;
		gap: 18px;
		margin-inline: 31px 32px;
	}
}

.pricing__students,
.pricing__professional,
.pricing__enterprise {
	background-color: rgba(255, 255, 255, 0.06);
	min-width: 257px;
	max-width: 257px;
	height: 457px;
	position: relative;
}

.pricing__students-wrap-students-title,
.pricing__professional-wrap-title,
.pricing__enterprise-wrap-title {
	background-color: rgba(255, 255, 255, 0.06);
}

.pricing__agency {
	background: rgba(60, 41, 63, 0.84);
	min-width: 299px;
	max-width: 299px;
	height: 560px;
	position: relative;

	@include for-size(tablet) {
		margin-right: 25px;
	}
}

.pricing__students-wrap-students-title,
.pricing__professional-wrap-title,
.pricing__enterprise-wrap-title{
	font-family: $primary-fonts;
	font-weight: 400;
	font-size: rem(24);
	color: $secondary-text-color;
	text-transform: uppercase;
	margin: 0 auto;
	padding: 36px 0;
}

.pricing__agency-wrap-title {
	background: rgba(74, 55, 77, 0.84);
	font-family: $primary-fonts;
	font-weight: 400;
	font-size: rem(24);
	color: $secondary-text-color;
	text-transform: uppercase;
	margin: 0 auto;
	padding: 36px 0;
}

.pricing__students-wrap-info,
.pricing__professional-wrap-info,
.pricing__enterprise-wrap-info {
	&-cost {
		font-family: $primary-fonts;
		font-weight: 700;
		font-size: rem(60);
		line-height: rem(90);
		color: $secondary-text-color;
		padding: 20px 0;
	}

	&-text {
		position: relative;
		font-family: $primary-fonts;
		font-weight: 400;
		color: $secondary-text-color;
		font-size: rem(14);
		line-height: rem(16);
		padding-bottom: 38px;
		text-transform: uppercase;
	}

	&-text::before {
		position: absolute;
		content: "";
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 50%);
		min-width: 60px;
		height: 5px;
		background-color: #8D81AC;
	}

	&-license {
		font-family: $primary-fonts;
		font-weight: 400;
		color: $secondary-text-color;
		font-size: rem(16);
		line-height: rem(18);
		padding: 30px 10px;
		text-transform: capitalize;
	}

	&-purchase {
		position: absolute;
		bottom: 36px;
		left: 36px;
		right: 36px;
		display: block;
		font-family: $primary-fonts;
		font-weight: 400;
		color: $secondary-text-color;
		font-size: rem(15);
		text-transform: uppercase;
		padding: 15px 38px;
		background: rgba(255, 255, 255, 0.15);
		border: none;
		border-radius: 40px;
		mix-blend-mode: normal;
	}
}

.pricing__agency-wrap-info {
		&-cost {
		font-family: $primary-fonts;
		font-weight: 700;
		font-size: rem(82);
		line-height: rem(90);
		color: $secondary-text-color;
		padding: 20px 0 16px;
	}

	&-text {
		position: relative;
		font-family: $primary-fonts;
		font-weight: 400;
		color: $secondary-text-color;
		font-size: rem(14);
		line-height: rem(16);
		padding-bottom: 46px;
		text-transform: uppercase;
	}

	&-text::before {
		position: absolute;
		content: "";
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 50%);
		min-width: 60px;
		height: 5px;
		background-color: #8D81AC;
	}

	&-license {
		font-family: $primary-fonts;
		font-weight: 400;
		color: $secondary-text-color;
		font-size: rem(16);
		line-height: rem(18);
		padding: 40px 10px 0;
		text-transform: capitalize;
	}

	&-purchase {
		position: absolute;
		display: block;
		bottom: 36px;
		left: 60px;
		right: 60px;
		font-family: $primary-fonts;
		font-weight: 400;
		color: $secondary-text-color;
		font-size: rem(15);
		text-transform: uppercase;
		padding: 15px 38px;
		background: rgba(255, 255, 255, 0.15);
		border: none;
		border-radius: 40px;
		mix-blend-mode: normal;
	}
}