.revolutionary__info {
	@include flex;
	flex-direction: column;
	margin-bottom: 68px;
	margin-top: 0;
	background: $bg-white-color;

	@include for-size(tablet) {
		text-align: center;
		margin-bottom: 96px;
	}

	@include for-size(phone) {
		margin-top: -11px;
	}

	&-trial {
		display: block;
		font-family: $primary-fonts;
		font-weight: 400;
		font-size: rem(14);
		line-height: rem(15);
		color: $text-color;
		margin-bottom: 66px;
		margin-top: 12px;

		@include for-size(phone) {
			line-height: rem(14);
			margin-bottom: 78px;
			margin-top: 20px;
		}
	}

	&-title {
		font-family: $primary-fonts;
		font-weight: 700;
		font-size: rem(54);
		color: #635C73;
		margin-bottom: 16px;
		text-transform: uppercase;

		@include for-size(phone) {
			font-size: rem(26);
			line-height: rem(28);
			text-align: center;
		}
	}

	&-subtitle {
		width: 80%;
		text-align: center;
		font-family: $secondary-fonts;
		font-weight: 400;
		font-size: rem(21);
		line-height: rem(32);
		color: $subtitle-color;
		margin-bottom: 12px;

		@include for-size(phone) {
			font-size: rem(14);
			line-height: rem(20);
			padding-left: 18px;
			padding-right: 26px;
		}
	}

	&-actions {
		@include flex;
		gap: 15px;
		font-family: $primary-fonts;
		font-weight: 700;

		@include for-size(phone) {
			flex-wrap: wrap;
			padding-bottom: 88px;
			row-gap: 19px;
		}

		&-wrap {
			@include flex;
			border: 2px solid #d5d5d5;
			border-radius: 3px;

			&-watch,
			&-star,
			&-fork {
				@include flex;
				width: 100%;
				background: linear-gradient(0deg, rgba(221, 222, 222, 0.8) 0%, rgba(238, 238, 239, 0.5) 46%, rgba(255, 255, 255, 1) 100%);
				padding-inline: 10px;
				padding-block: 8px;
				border-right: 2px solid #d5d5d5;

				&-icon {
					fill: #333333;
				}

				.fa-eye {
					color: #333333;
				}

				&-text {
					font-family: $primary-fonts;
					font-weight: 700;
					font-size: rem(16);
					padding-left: 2px;

					@include for-size(phone) {
						font-size: rem(13);
						padding-inline: 8px;
						padding-block: 3px;
					}
				}

				&-info {
					font-family: $primary-fonts;
					font-weight: 400;
					font-size: rem(16);
					padding-inline: 10px;
					padding-block: 8px;

					@include for-size(phone) {
						font-size: rem(12);
						font-weight: 700;
						padding-inline: 8px;
						padding-block: 3px;
					}
				}
			}
		}
	}
}