.testimonials-background {
    background-image: url("../img/testimonials-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.testimonials__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 108px;
    padding-bottom: 29px;

    @include for-size(tablet) {
        text-align: center;
    }

    @include for-size(phone) {
        padding-top: 57px;
    }

    &-title {
        font-family: $primary-fonts;
        font-weight: 700;
        font-size: rem(48);
        line-height: rem(50);
        color: $title-color;

        @include for-size(tablet) {
            text-align: center;
            font-size: rem(42);
            line-height: rem(44);
        }

        @include for-size(phone) {
            text-align: center;
            font-size: rem(36);
            line-height: rem(48);
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: baseline;
        row-gap: 110px;
        column-gap: 87px;
        margin-top: 82px;

        @include for-size(tablet) {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 60px;
            row-gap: 60px;
        }

        @include for-size(phone) {
            grid-template-columns: 1fr;
            column-gap: 0;
            row-gap: 44px;
            padding-inline: 10px;
            margin-top: 53px;
        }
    }

    &-item {
        text-align: center;
        padding: 0 20px 0 20px;

        &-img {
            padding-bottom: 28px;
        }

        &-text {
            font-family: $secondary-fonts;
            font-weight: 700;
            font-style: italic;
            font-size: rem(16);
            line-height: rem(24);
            color: $secondary-text-color;
        }
    }

    &-footer {
        position: relative;
        font-family: $secondary-fonts;
        font-weight: 400;
        font-size: rem(14);
        line-height: rem(21);
        color: #A291A5;
        max-width: 887px;
        margin-top: 116px;
        margin-bottom: 14px;
        text-align: center;

        @include for-size(phone) {
            padding-inline: 24px;
            margin-top: 36px;
            padding-bottom: 21px;
        }
    }

    &-footer::after {
        position: absolute;
        bottom: -18px;
        left: 50%;
        transform: translate(-50%);
        content: "";
        min-width: 780px;
        height: 2px;
        border: none;
        background-color: #645766;

        @include for-size(tablet) {
            min-width: 480px;
        }

        @include for-size(phone) {
            min-width: 245px;
        }
    }
}