@import "./abstracts/abstracts";

html {
	min-width: 320px;
	max-width: 1200px;
	font-size: $html-font-size;
	margin: 0 auto;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-inline: 10px;
}

@import "./layout/layout";